@charset "UTF-8";

/*Importando a fonte título do site*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*Definindo as variáveis de cores e fontes*/
:root {
    --color1: #0a0908;
    --color2: #22333b;
    --color3: #FF843D;
    --color4: #f2f4f3;
    --color5: #AD7048;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-titulo: 'Playfair Display', serif;
}

/*Definindo as configurações do body*/
body {
    text-align: center;
    margin: 0px;

    background-color: var(--color5);
    color: var(--color1);
    font: normal 1em var(--font-padrao)
}

/*Definindo as configurações do header*/
header {
    min-height: 80px;
    min-width: 320px;
    max-width: 1500px;

    background-color: var(--color3);
    color: var(--color1);
    padding: 10px;
    text-align: center;
    font: italic bold 2em var(--font-titulo);
}

/*Configurações do título de nível 1 e do link dele pra voltar pra páginal inicial*/
header h1, a {
    color: var(--color1);
    margin: 0px;
    text-decoration: none;
}

/*Definindo as configurações do nav*/
nav {
    min-width: 320px;
    max-width: 1500px;

    background-color: var(--color3);
    text-align: left;
    padding: 10px;
}

/*Configurações dos links do nav*/
nav > a {
    text-decoration: none;
    padding: 10px;
    color: var(--color1);
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--color4);
    color: var(--color2);
}

/*Definindo as configurações da main*/
main {
    min-width: 320px;
    max-width: 900px;

    background-color: var(--color4);
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/*Configurações dos links dentro da main*/
main a {
    color: var(--color2);
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
}

main a:active {
    color: var(--color3);
    text-decoration: underline;
}

/*Configurações dos títulos da main*/
main h1, h2, h3 {
    padding: 0px 20px;
}

/*Configurações dos parágrafos da main*/
main p {
    text-indent: 2.5em;
    /*Espaço entre as linhas*/
    line-height: 1.5em;
    padding: 0px 20px;
}

/*Configurações das lista ordenadas e não ordenadas da main*/
main ul, ol {
    line-height: 1.5em;
    padding: 0px 20px;
    list-style-position: inside;
}

main li {
    padding-bottom: 15px;
}

/*Definindo as configurações do footer*/
footer {
    min-width: 320px;
    max-width: 1500px;

    padding: 15px;
    background-color: var(--color3);
}

/*Configurações dos parágrafos do footer*/
footer > p {
    margin: 0px;
    font-weight: bold;
}

/*Configurações dos links do footer*/
footer a {
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--color1);
    font-weight: bold;
}

footer a:hover {
    color: var(--color2);
    text-decoration: underline;
}

/*Definindo as configurações das imagens*/
/*A tag picture é um container da tag img*/
picture {
    width: 100%;
}

img{
    width: 100%;
    max-width: 700px;
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #00000044;
}

/*Configurações das imagens que ficam na galeria da página inicial*/
/*Configurando o container das imagens*/
.galeria {
    width: 100%;
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 40px;
}

/*Configurações de cada imagen*/
.galeria a > img {
    width: 100%;
    max-width: 400px;
    transition: 1s;
}

/*Configuração de cada imagem quando o cursor está em cima dela*/
.galeria img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*Ajustando a margin do título da receita*/
.galeria h3 {
    margin: 10px auto;
}

/*Configurações dos botões de voltar (parágrafos com a classe voltar)*/
p.voltar {
    text-indent: 0em;
    text-align: center;
}

/*Configurações dos campos de texto da página de contato*/
.campo input[type="text"], .campo input[type="email"], .campo textarea {
    font: normal 1em var(--font-padrao);
    padding: 5px 13px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--color1);
    border-width: 1px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.322);
}

/*Configurações da tag fieldset*/
fieldset {
    border: 0;
    margin: 15px auto;
    min-width: 300px;
    max-width: 320px;
}

/*Configurações dos campos de digitação e do rótulo deles*/
.campo, .campo label{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

/*Colocando os botões de radio na mesma linha*/
.radioOption {
    display: inline;
}

/*Configurando pro cursor do mouse ficar com a "mão" quando posicionado em cima do botões de radio*/
.radioOption input {
    cursor: pointer;
}

/*Configurações do campo de texto da mensagem*/
.campo textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Configurações do botão de enviar na página de contato*/
#submit {
    font: bold 1em var(--font-padrao);
    padding: 8px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--color1);
    border-width: 1px;
    background-color: var(--color3);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.37);
}

/*Configurações pro botão quando o cursor for posicionado em cima dele*/
#submit:hover {
    font-weight: bold;
    color: var(--color2);
    background-color: var(--color4);
    transition-duration: 0.3s;
    cursor: pointer;
}

/*Centralizando o botão*/
.botao {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}
